<beans xmlns="http://www.springframework.org/schema/beans" 
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="product" class="com.example.dependenyinjection.Product">
		<property name="productId" value="4"/>
		<property name="productName" value="Battery"/>
		<property name="productPrice" value="10.0"/>
	</bean>
	
	<bean id="battery" class="com.example.dependenyinjection.Battery">
		<property name="productId" value="34"/>
		<property name="productName" value="Rechargable Battery"/>
		<property name="productPrice" value="15.0"/>
		<property name="rechargable" value="true"/>
	</bean>
	
	<bean id="disc" class="com.example.dependenyinjection.Disc">
		<property name="productId" value="12"/>
		<property name="productName" value="DVD Disc"/>
		<property name="productPrice" value="12.5"/>
		<property name="capacity" value="700"/>
	</bean>
</beans>